/* Estilos gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
}

.header {
  text-align: center;
  color: black;
  padding: 20px;
}
/* Estilo do Popup */
.popup {
  display: none; /* Inicialmente escondido */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Fundo semi-transparente escuro */
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Fica acima de outros elementos */
}

.popup-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.popup-content {
  background: #fff;
  padding: 30px; /* Aumenta o padding para um card maior */
  border-radius: 15px; /* Bordas mais arredondadas */
  position: relative;
  text-align: center;
  width: 90%; /* Aumenta a largura do card */
  max-width: 600px; /* Define uma largura máxima maior */
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3); /* Sombra mais intensa */
  transform: scale(0.8); /* Efeito de escala inicial */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transição suave */
}

.popup-content.show {
  transform: scale(1); /* Efeito de escala quando visível */
}

.popup-message {
  font-size: 20px; /* Aumenta o tamanho da fonte da mensagem */
  color: #333;
  margin: 0;
}

.popup-close {
  position: absolute;
  top: 15px; /* Ajusta a posição do botão de fechar */
  right: 15px;
  font-size: 28px; /* Aumenta o tamanho do ícone de fechar */
  color: #333;
  cursor: pointer;
  transition: color 0.3s ease;
}

.popup-close:hover {
  color: #F5004F; /* Cor do x ao passar o mouse */
}

/* Adicionando o efeito de escala ao abrir o popup */
.popup.show .popup-content {
  transform: scale(1); /* Aplica o efeito de escala quando visível */
}



.start-button, .finish-button {
  background-color: #F5004F;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.finish-button {
  background-color: #F5004F;
  display: block;
  margin: 20px auto;
}

.exercise-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.checkbox-container {
  display: none; /* Esconde o checkbox inicialmente */
  align-items: center;
  cursor: pointer;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 8px;
  cursor: pointer;
}
  
.mode-message {
  margin-top: 10px;
  color: #000;
}

.exercises {
  max-width: 800px;
  margin: 20px auto;
  padding: 10px;
}

.exercise-info {
  max-width: 60%;
}

.exercise-info h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.exercise-video iframe {
  width: 200px;
  height: 120px;
  border-radius: 8px;
}

.back-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 24px;
  color: #F5004F;
  text-decoration: none;
  cursor: pointer;
}